<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<style>
		[v-cloak] {display: none}
		</style>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>

		<div id="app" v-cloak>
			<input v-model="term" type="search">
			<button @click="search">Search</button>
			<p/>

			<p v-for="result in results" class="result">
				<b>Name:</b> {{ result.name }}<br/>
				<b>Address:</b> {{ result.street }}, {{ result.city }} {{ result.state }} {{ result.postal_code }}<br/>
				<b>Website:</b> <a :href="result.website_url" target="_new">{{ result.website_url }}</a>
			</p>

			<div v-if="noResults">
				Sorry, but no results were found.
			</div>

			<div v-if="searching">
				<i>Searching...</i>
			</div>

		</div>

		<script src="https://unpkg.com/vue"></script>
		<script src="app.js"></script>
	</body>
</html>